body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  /* 全体の高さを画面いっぱいに */
  margin: 0;
  padding: 0px;
  background-color: cyan;
  opacity: 2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}